.repository {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid #E8E8E8;
}

	.repository__avatar {
	}

		.repository__avatar img {
			height: 130px;
			width: 130px;
		}

	.repository__commit {
		margin-bottom: 10px;
	}

		.repository_commit_secondary {
			font-size: 9px;
		}

		.repository__commit__info {
			margin-right: 10px;
		}

.commit-action {
	font-size: 20px;
	opacity: 0.1;
	color: black;
	cursor: pointer;
}

	.commit-action:hover, .commit-action.pinned {
		opacity: 1;
	}

.is-warning {
	color: red;
}
